// These are "extends" classes.They exist to be built in top of by other classes
// and mixins. They will generally not be used directly.

// Display
.display-none
  display: none

.display-block
  display: block

.display-inline 
  display: inline

.display-inline-block
  +inline-block

// Position
.position-relative
  position: relative

.position-absolute
  position: absolute

.position-fixed
  position: fixed

.position-static
  position: static

// Float
.float-left
  float: left

.float-right
  float: right

.float-none
  float: none

// Margins and padding
.no-margin
  margin: 0

.no-padding
  padding: 0

.no-margin-or-padding
  @extend .no-margin
  @extend .no-padding

// Width
.full-width
  width: 100%

// Lists
.no-bullets
  list-style-type: none

// Box sizing
.border-box
  +box-sizing(border-box)

.content-box
  +box-sizing(content-box)

// Clearing
.clear
  clear: both

.clearfix
  *display: inline-block

  &:after
    @extend .display-block
    content: "."
    height: 0
    clear: both
    visibility: hidden

// Misc
.ellipsis 
  white-space: nowrap
  overflow: hidden 
  text-overflow: ellipsis

.centered
  margin: 0 auto

.no-wrap
  white-space: nowrap