.display-none {
  display: none; }

.display-block, .clearfix:after, form label, form textarea {
  display: block; }

.display-inline {
  display: inline; }

.display-inline-block, .input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select, form .help_text, .button,
button, .button:hover,
button:hover, .button.positive,
button.positive, .button.positive:hover,
button.positive:hover, .button.negative,
button.negative, .button.negative:hover,
button.negative:hover, .button.disabled,
button.disabled {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  #display: inline;
  #vertical-align: auto; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.position-fixed {
  position: fixed; }

.position-static {
  position: static; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

.no-margin, .no-margin-or-padding, h1, h2, h3, h4, h5, h6, ul,
ol,
dl, form legend, form ol li,
form ul li, form input[type="checkbox"], form .help_text, .input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select, form ol,
form ul, form ul.errorlist, form ul.errorlist li, #messages ul {
  margin: 0; }

.no-padding, .no-margin-or-padding, h1, h2, h3, h4, h5, h6, ul,
ol,
dl, form legend, form ol li,
form ul li, form input[type="checkbox"], form .help_text {
  padding: 0; }

.full-width, form legend {
  width: 100%; }

.no-bullets, form ol,
form ul, #messages ul {
  list-style-type: none; }

.border-box, *, .input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select, form label, form .help_text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.content-box {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }

.clear {
  clear: both; }

.clearfix {
  *display: inline-block; }
  .clearfix:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.centered {
  margin: 0 auto; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

body, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "Courier New", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin-left: 0;
  padding: 0; }

dd {
  margin: 0; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.base-font-family, body {
  font-family: Georgia, serif; }

.alternate-font-family, h1, h2, h3, h4, h5, h6, blockquote cite, table th, form legend, form label, .base-button, .button,
button, #messages ul li {
  font-family: "Helvetica Neue", Arial, sans-serif; }

.header, h1, h2, h3, h4, h5, h6 {
  color: #666666; }

.strong-text {
  color: black; }

.weak-text, blockquote cite {
  color: #999999; }

.tiny-font, .small-button, .button.small,
button.small, .button-group a.button.small,
.button-group button.small {
  font-size: 9.94px;
  line-height: 10px; }

.extra-small-font, form legend, .base-button, .button,
button, .button-group a.button,
.button-group button {
  font-size: 11.004px;
  line-height: 15px; }

.small-font, h6, table th, form label, form .help_text {
  font-size: 12.04px;
  line-height: 15px; }

.normal-font, h5, blockquote cite, .large-button, .button.large,
button.large, .button-group a.button.large,
.button-group button.large {
  font-size: 14px;
  line-height: 20px; }

.medium-font, h4, form label abbr {
  font-size: 15.96px;
  line-height: 20px; }

.medium-large-font, h3, blockquote {
  font-size: 18.06px;
  line-height: 25px; }

.large-font, h2 {
  font-size: 28px;
  line-height: 30px; }

.extra-large-font, h1 {
  font-size: 35.98px;
  line-height: 40px; }

.text-block, p, blockquote, pre,
code, ul,
ol,
dl, table, form, #messages ul li {
  margin-top: 0;
  margin-bottom: 20px; }

.bold, h1, h2, h3, h4, h5, h6, a, strong, dfn, ul dt,
ol dt,
dl dt, form legend, form label {
  font-weight: bold; }

.italic, blockquote, em, dfn, address, form .help_text {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.uppercase, h6, table th, form legend, .base-button, .button,
button {
  text-transform: uppercase; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 14px;
  line-height: 20px; }

a {
  color: #ff6600;
  text-decoration: none; }
  a:focus, a:hover {
    color: #ff3300; }

blockquote {
  color: #666666;
  margin-top: 20px; }
  blockquote cite {
    font-style: normal; }
    blockquote cite:before {
      content: " — "; }

sup,
sub {
  line-height: 0; }

abbr,
acronym {
  border-bottom: 1px dotted #999999; }

pre,
code {
  white-space: pre;
  margin-top: 20px; }

ul,
ol,
dl {
  margin-left: 20px; }
  ul dd,
  ol dd,
  dl dd {
    margin-left: 20px; }

.dquo {
  margin-left: -0.5em; }

.caps {
  font-variant: small-caps;
  text-transform: lowercase; }

.table-cell, table td, table th {
  padding: 5px;
  padding-bottom: 4px;
  border-bottom: 1px solid #dfdfdf;
  text-align: left; }

table {
  width: 100%; }
  table td.numeric, table th.numeric {
    text-align: right; }
  table td.center, table th.center {
    text-align: center; }
  table.striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9; }

.input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #bbbbbb;
  padding: 5px;
  line-height: 20px;
  font-size: 14px;
  transition-property: "border-color";
  -webkit-transition-property: "border-color";
  -moz-transition-property: "border-color";
  -o-transition-property: "border-color";
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  word-spacing: normal; }
  .input:focus, form input[type="text"]:focus,
  form input[type="password"]:focus,
  form input[type="file"]:focus,
  form textarea:focus,
  form select:focus {
    border-color: #ff6600 !important; }

form {
  margin-bottom: 60px; }
  form fieldset {
    padding-bottom: 20px;
    margin-bottom: 0; }
  form legend {
    width: 100%;
    border: none;
    border-top: 1px solid #dfdfdf;
    color: #999999;
    padding-top: 5px;
    padding-bottom: 10px; }
  form ol li,
  form ul li {
    margin-bottom: 20px;
    overflow: hidden;
    word-spacing: -1em; }
  form label {
    cursor: pointer;
    margin-bottom: 5px;
    word-spacing: normal; }
    form label.errors {
      color: #cc0000; }
    form label abbr {
      font-style: normal;
      font-weight: normal;
      border-bottom: none; }
  form input[type="text"][disabled],
  form input[type="password"][disabled],
  form input[type="file"][disabled],
  form textarea[disabled],
  form select[disabled] {
    cursor: not-allowed; }
  form input[type="text"],
  form input[type="password"],
  form input[type="file"],
  form select {
    width: 33%; }
  form input[type="checkbox"] {
    height: 20px;
    line-height: 20px;
    vertical-align: top; }
  form textarea {
    width: 66%;
    height: 120px; }
  form .help_text {
    margin-top: 5px;
    color: #999999;
    width: 66%;
    word-spacing: normal;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px; }
  form ul.errorlist {
    color: #cc0000; }

.small-button, .button.small,
button.small, .button-group a.button.small,
.button-group button.small {
  height: 8px;
  line-height: 8px;
  padding-left: 10px;
  padding-right: 10px; }

.large-button, .button.large,
button.large, .button-group a.button.large,
.button-group button.large {
  height: 28px;
  line-height: 28px;
  padding-left: 20px;
  padding-right: 20px; }

.active-button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; }

.base-button, .button,
button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  #display: inline;
  #vertical-align: auto;
  height: 18px;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }
  .base-button:hover, .button:hover,
  button:hover {
    cursor: pointer; }

.button,
button {
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, white, #cdcdcd);
  background-image: -o-linear-gradient(top, white, #cdcdcd);
  background-image: -ms-linear-gradient(top, white, #cdcdcd);
  background-image: linear-gradient(top, white, #cdcdcd);
  background-image: -webkit-linear-gradient(top, white, #cdcdcd);
  border: 1px solid #cdcdcd;
  border-bottom: 1px solid #b3b3b3;
  color: #828282;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  margin-bottom: 20px;
  margin-right: 10px; }
  .button:hover,
  button:hover {
    background-color: #d9d9d9;
    background-image: -moz-linear-gradient(top, white, silver);
    background-image: -o-linear-gradient(top, white, silver);
    background-image: -ms-linear-gradient(top, white, silver);
    background-image: linear-gradient(top, white, silver);
    background-image: -webkit-linear-gradient(top, white, silver);
    border: 1px solid silver;
    border-bottom: 1px solid #a6a6a6;
    color: #828282;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75); }
  .button:active, .button.active,
  button:active,
  button.active {
    background-image: none;
    background-color: #cdcdcd; }
  .button.positive,
  button.positive {
    background-color: #40a140;
    background-image: -moz-linear-gradient(top, #a1d9a1, #317d31);
    background-image: -o-linear-gradient(top, #a1d9a1, #317d31);
    background-image: -ms-linear-gradient(top, #a1d9a1, #317d31);
    background-image: linear-gradient(top, #a1d9a1, #317d31);
    background-image: -webkit-linear-gradient(top, #a1d9a1, #317d31);
    border: 1px solid #317d31;
    border-bottom: 1px solid #235823;
    color: white;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }
    .button.positive:hover,
    button.positive:hover {
      background-color: #398f39;
      background-image: -moz-linear-gradient(top, #8ed28e, #2a6a2a);
      background-image: -o-linear-gradient(top, #8ed28e, #2a6a2a);
      background-image: -ms-linear-gradient(top, #8ed28e, #2a6a2a);
      background-image: linear-gradient(top, #8ed28e, #2a6a2a);
      background-image: -webkit-linear-gradient(top, #8ed28e, #2a6a2a);
      border: 1px solid #2a6a2a;
      border-bottom: 1px solid #1c461c;
      color: white;
      text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }
    .button.positive:active, .button.positive.active,
    button.positive:active,
    button.positive.active {
      background-image: none;
      background-color: #317d31; }
  .button.negative,
  button.negative {
    background-color: #da2222;
    background-image: -moz-linear-gradient(top, #f1a4a4, #ae1b1b);
    background-image: -o-linear-gradient(top, #f1a4a4, #ae1b1b);
    background-image: -ms-linear-gradient(top, #f1a4a4, #ae1b1b);
    background-image: linear-gradient(top, #f1a4a4, #ae1b1b);
    background-image: -webkit-linear-gradient(top, #f1a4a4, #ae1b1b);
    border: 1px solid #ae1b1b;
    border-bottom: 1px solid #821414;
    color: white;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }
    .button.negative:hover,
    button.negative:hover {
      background-color: #c41f1f;
      background-image: -moz-linear-gradient(top, #ed8e8e, #981818);
      background-image: -o-linear-gradient(top, #ed8e8e, #981818);
      background-image: -ms-linear-gradient(top, #ed8e8e, #981818);
      background-image: linear-gradient(top, #ed8e8e, #981818);
      background-image: -webkit-linear-gradient(top, #ed8e8e, #981818);
      border: 1px solid #981818;
      border-bottom: 1px solid #6c1111;
      color: white;
      text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }
    .button.negative:active, .button.negative.active,
    button.negative:active,
    button.negative.active {
      background-image: none;
      background-color: #ae1b1b; }
  .button.subtle,
  button.subtle {
    background-color: transparent;
    background-image: none;
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid #cdcdcd;
    color: #999999; }
    .button.subtle:hover,
    button.subtle:hover {
      color: #828282; }
    .button.subtle:active, .button.subtle.active,
    button.subtle:active,
    button.subtle.active {
      background-color: #e6e6e6; }
  .button.passive,
  button.passive {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    text-transform: none;
    color: #999999;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -box-shadow: none; }
    .button.passive:hover,
    button.passive:hover {
      color: #828282;
      border: 1px solid #e6e6e6;
      border-bottom: 1px solid #cdcdcd; }
    .button.passive:active, .button.passive.active,
    button.passive:active,
    button.passive.active {
      background-color: #e6e6e6; }
  .button.disabled,
  button.disabled {
    background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, white, #cdcdcd);
    background-image: -o-linear-gradient(top, white, #cdcdcd);
    background-image: -ms-linear-gradient(top, white, #cdcdcd);
    background-image: linear-gradient(top, white, #cdcdcd);
    background-image: -webkit-linear-gradient(top, white, #cdcdcd);
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #b3b3b3;
    color: #999999;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
    cursor: not-allowed !important;
    background-image: none;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -box-shadow: none; }

.button-group {
  font-size: 0; }
  .button-group a.button,
  .button-group button {
    margin-right: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    margin-left: -1px; }
    .button-group a.button:first-child,
    .button-group button:first-child {
      border-top-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      background-clip: padding-box;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      background-clip: padding-box;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box; }
    .button-group a.button:last-child,
    .button-group button:last-child {
      border-top-right-radius: 3px;
      -moz-border-radius-topright: 3px;
      -webkit-border-top-right-radius: 3px;
      background-clip: padding-box;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px;
      background-clip: padding-box;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box; }

#messages ul li {
  padding: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-color: #838383;
  border: 1px solid #696969;
  color: white;
  font-weight: bold;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; }
  #messages ul li.success {
    background-color: #58bc58;
    border: 1px solid #40a140;
    color: white;
    font-weight: bold;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }
  #messages ul li.error {
    background-color: #e34c4c;
    border: 1px solid #da2222;
    color: white;
    font-weight: bold;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }
  #messages ul li.warning {
    background-color: #fdd91f;
    border: 1px solid #e7c202;
    color: white;
    font-weight: bold;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }
  #messages ul li.info {
    background-color: #4ba0ca;
    border: 1px solid #3386af;
    color: white;
    font-weight: bold;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2); }

#content {
  padding: 20px; }
