.display-block, .clearfix:after, .container:after, .container-box:after, form label, form textarea {
  display: block; }

.display-inline-block, .input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select, form .help_text {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  #display: inline;
  #vertical-align: auto; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.float-left {
  float: left; }

.float-right {
  flaot: right; }

.no-margin, .no-margin-or-padding, form legend, form ol li,
form ul li, form input[type="checkbox"], form .help_text, .input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select, form ol,
form ul, form ul.errorlist, form ul.errorlist li {
  margin: 0; }

.no-padding, .no-margin-or-padding, form legend, form ol li,
form ul li, form input[type="checkbox"], form .help_text {
  padding: 0; }

.full-width, form legend {
  width: 100%; }

.no-bullets, form ol,
form ul {
  list-style-type: none; }

.border-box, *, .input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select, form label, form .help_text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both; }

.clearfix, .container, .container-box {
  *display: inline-block; }
  .clearfix:after, .container:after, .container-box:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }

.ellipsis, .container div section {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.centered, .container, .container-box {
  margin: 0 auto; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

body, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "Courier New", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin-left: 0;
  padding: 0; }

dd {
  margin: 0; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.base-font-family, body {
  font-family: Georgia, serif; }

.alternate-font-family, h1, h2, h3, h4, h5, h6, blockquote cite, table th, form legend, form label {
  font-family: "Helvetica Neue", Arial, sans-serif; }

.strong-text {
  color: black; }

.weak-text, blockquote cite {
  color: #999999; }

.tiny-font {
  font-size: 9.94px;
  line-height: 10px; }

.extra-small-font, form legend {
  font-size: 11.004px;
  line-height: 15px; }

.small-font, h6, table th, form label, form .help_text {
  font-size: 12.04px;
  line-height: 15px; }

.normal-font, h5, blockquote cite {
  font-size: 14px;
  line-height: 20px; }

.medium-font, h4, form label abbr {
  font-size: 15.96px;
  line-height: 20px; }

.medium-large-font, h3, blockquote {
  font-size: 18.06px;
  line-height: 25px; }

.large-font, h2 {
  font-size: 25.9px;
  line-height: 30px; }

.extra-large-font, h1 {
  font-size: 35.98px;
  line-height: 40px; }

.text-block, p, blockquote, pre,
code, ul,
ol,
dl, table, form {
  margin-bottom: 20px; }

.bold, h1, h2, h3, h4, h5, h6, a, strong, dfn, ul dt,
ol dt,
dl dt, form legend, form label {
  font-weight: bold; }

.italic, blockquote, em, dfn, address, form .help_text {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.uppercase, h6, table th, form legend {
  text-transform: uppercase; }

body {
  font-size: 14px;
  line-height: 20px; }

a {
  color: #ff6600;
  text-decoration: none; }
  a:focus, a:hover {
    color: #ff3300; }

blockquote {
  margin-top: 20px; }
  blockquote cite {
    font-style: normal; }
    blockquote cite:before {
      content: " — "; }

sup,
sub {
  line-height: 0; }

abbr,
acronym {
  border-bottom: 1px dotted #999999; }

pre,
code {
  white-space: pre;
  margin-top: 20px; }

ul,
ol,
dl {
  margin-left: 20px; }
  ul dd,
  ol dd,
  dl dd {
    margin-left: 20px; }

.dquo {
  margin-left: -0.5em; }

.caps {
  font-variant: small-caps;
  text-transform: lowercase; }

.table-cell, table td, table th {
  padding: 5px;
  padding-bottom: 4px;
  border-bottom: 1px solid #dfdfdf;
  text-align: left; }

table {
  width: 100%; }
  table td.numeric, table th.numeric {
    text-align: right; }
  table td.center, table th.center {
    text-align: center; }
  table.striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9; }

.input, form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea,
form select {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #bbbbbb;
  padding: 5px;
  line-height: 20px;
  font-size: 14px;
  transition-property: "border-color";
  -webkit-transition-property: "border-color";
  -moz-transition-property: "border-color";
  -o-transition-property: "border-color";
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  word-spacing: normal; }
  .input:focus, form input[type="text"]:focus,
  form input[type="password"]:focus,
  form input[type="file"]:focus,
  form textarea:focus,
  form select:focus {
    border-color: #ff6600 !important; }

form {
  margin-bottom: 60px; }
  form fieldset {
    padding-bottom: 20px;
    margin-bottom: 0; }
  form legend {
    width: 100%;
    border: none;
    border-top: 1px solid #dfdfdf;
    color: #999999;
    padding-bottom: 10px; }
  form ol li,
  form ul li {
    margin-bottom: 20px;
    overflow: hidden;
    word-spacing: -1em; }
  form label {
    cursor: pointer;
    margin-bottom: 5px;
    word-spacing: normal; }
    form label.errors {
      color: #cc0000; }
    form label abbr {
      font-style: normal;
      font-weight: normal;
      border-bottom: none; }
  form input[type="text"][disabled],
  form input[type="password"][disabled],
  form input[type="file"][disabled],
  form textarea[disabled],
  form select[disabled] {
    cursor: not-allowed; }
  form input[type="text"],
  form input[type="password"],
  form input[type="file"],
  form select {
    width: 33%; }
  form input[type="checkbox"] {
    height: 20px;
    line-height: 20px;
    vertical-align: top; }
  form textarea {
    width: 66%;
    height: 120px; }
  form .help_text {
    margin-top: 5px;
    color: #999999;
    width: 66%;
    word-spacing: normal;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px; }
  form ul.errorlist {
    color: #cc0000; }

.span-1 {
  width: 80px; }

.span-2 {
  width: 180px; }

.span-3 {
  width: 280px; }

.span-4 {
  width: 380px; }

.span-5 {
  width: 480px; }

.span-6 {
  width: 580px; }

.span-7 {
  width: 680px; }

.span-8 {
  width: 780px; }

.span-9 {
  width: 880px; }

.span-10 {
  width: 980px;
  margin: 0; }

.column-1 {
  width: 80px;
  float: left;
  margin-right: 20px; }

.column-2 {
  width: 180px;
  float: left;
  margin-right: 20px; }

.column-3 {
  width: 280px;
  float: left;
  margin-right: 20px; }

.column-4 {
  width: 380px;
  float: left;
  margin-right: 20px; }

.column-5 {
  width: 480px;
  float: left;
  margin-right: 20px; }

.column-6 {
  width: 580px;
  float: left;
  margin-right: 20px; }

.column-7 {
  width: 680px;
  float: left;
  margin-right: 20px; }

.column-8 {
  width: 780px;
  float: left;
  margin-right: 20px; }

.column-9 {
  width: 880px;
  float: left;
  margin-right: 20px; }

.column-10 {
  width: 980px;
  margin: 0;
  float: left;
  margin-right: 20px;
  margin: 0; }

.box-1 {
  float: left;
  width: 40px;
  padding: 20px;
  margin-right: 20px; }

.box-2 {
  float: left;
  width: 140px;
  padding: 20px;
  margin-right: 20px; }

.box-3 {
  float: left;
  width: 240px;
  padding: 20px;
  margin-right: 20px; }

.box-4 {
  float: left;
  width: 340px;
  padding: 20px;
  margin-right: 20px; }

.box-5 {
  float: left;
  width: 440px;
  padding: 20px;
  margin-right: 20px; }

.box-6 {
  float: left;
  width: 540px;
  padding: 20px;
  margin-right: 20px; }

.box-7 {
  float: left;
  width: 640px;
  padding: 20px;
  margin-right: 20px; }

.box-8 {
  float: left;
  width: 740px;
  padding: 20px;
  margin-right: 20px; }

.box-9 {
  float: left;
  width: 840px;
  padding: 20px;
  margin-right: 20px; }

.box-10 {
  float: left;
  width: 940px;
  padding: 20px;
  margin-right: 20px;
  margin: 0; }

.append-1 {
  padding-right: 100px !important; }

.append-2 {
  padding-right: 200px !important; }

.append-3 {
  padding-right: 300px !important; }

.append-4 {
  padding-right: 400px !important; }

.append-5 {
  padding-right: 500px !important; }

.append-6 {
  padding-right: 600px !important; }

.append-7 {
  padding-right: 700px !important; }

.append-8 {
  padding-right: 800px !important; }

.append-9 {
  padding-right: 900px !important; }

.prepend-1 {
  padding-left: 100px !important; }

.prepend-2 {
  padding-left: 200px !important; }

.prepend-3 {
  padding-left: 300px !important; }

.prepend-4 {
  padding-left: 400px !important; }

.prepend-5 {
  padding-left: 500px !important; }

.prepend-6 {
  padding-left: 600px !important; }

.prepend-7 {
  padding-left: 700px !important; }

.prepend-8 {
  padding-left: 800px !important; }

.prepend-9 {
  padding-left: 900px !important; }

.pull-1 {
  float: left;
  margin-bottom: 20px;
  margin-left: -100px !important; }

.pull-2 {
  float: left;
  margin-bottom: 20px;
  margin-left: -200px !important; }

.pull-3 {
  float: left;
  margin-bottom: 20px;
  margin-left: -300px !important; }

.pull-4 {
  float: left;
  margin-bottom: 20px;
  margin-left: -400px !important; }

.pull-5 {
  float: left;
  margin-bottom: 20px;
  margin-left: -500px !important; }

.push-1 {
  float: right;
  margin-bottom: 20px;
  margin-right: -100px !important; }

.push-2 {
  float: right;
  margin-bottom: 20px;
  margin-right: -200px !important; }

.push-3 {
  float: right;
  margin-bottom: 20px;
  margin-right: -300px !important; }

.push-4 {
  float: right;
  margin-bottom: 20px;
  margin-right: -400px !important; }

.push-5 {
  float: right;
  margin-bottom: 20px;
  margin-right: -500px !important; }

.container {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  width: 980px; }

.container-box {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  width: 980px;
  padding-left: 20px;
  padding-right: 20px; }

.last {
  margin-right: 0 !important; }

body {
  background-color: #f6f6f6; }

.container {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  width: 980px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #dfdfdf;
  padding-top: 20px;
  padding-bottom: 20px; }
  .container div {
    margin-bottom: 20px; }
    .container div section {
      background-color: white;
      height: 40px;
      line-height: 40px;
      text-align: center; }
    .container div.parent div {
      margin-bottom: 0; }
      .container div.parent div section {
        background-color: #cccccc; }
